.About {
  height: 100%;
  margin: 0;

  background-color: #fff;
  color: #333;
}

.About h1,
.About h2,
.About h3,
.About h4,
.About h5 {
  color: #a63b1a;
}
.About-maintext {
  padding-left: 24px;
  width: 100%;
}
.About-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-quote {
  padding: 24px 0px;
  width: 100%;
  text-align: center;

  border-top: 1px dashed #a63b1a;
  border-bottom: 1px dashed #a63b1a;

  color: #c27863;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: bold; */
}

.About-todo {
  color: #c27863;
  /* font-weight: bold; */
  font-size: 14px;
}

.About-bold {
  color: #cc3b1a;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 14px;
}
