.About {
  background-color: #fff;
  color: #333;
}

.About h1,
.About h2,
.About h3,
.About h4,
.About h5 {
  color: #a63b1a;
}

.About-quote {
  padding: 24px 0px;
  width: 100%;
  text-align: center;

  border-top: 1px dashed #a63b1a;
  border-bottom: 1px dashed #a63b1a;

  color: #c27863;
  /* font-weight: bold; */
}

.About-todo {
  color: #c27863;
  /* font-weight: bold; */
  font-size: 14px;
}

.About-bold {
  color: #c27863;
  /* font-family: 'Helvetica Neue'; */
  font-weight: bold;
  font-size: 14px;
}
