.Header {
  display: flex;
  border-bottom: 2px solid;
  /* border-bottom-color: #333; */
  height: 72px;
  font-size: 24px;
}

.Header-title {
  /* border: 1px solid black; */
  padding: 14px;
  margin: 0;
  display: block;
  font-size: 36px;
  color: black;
}

.Header-image {
  /* border: 1px solid black; */
  height: 71px;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 56px;
  padding: 8px;
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
