.NavBar {
  margin: 0;
  padding: 0;
  height: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 16px;
  /* padding-bottom: 24px; */
  /* border-bottom: solid 24px white; */
}

.NavItem-Link {
  align-items: center;
  justify-content: center;

  height: 24px;
  margin: 0 auto;
  padding: 12px 16px;

  /* background: pink; */
  color: #333333;
  transition: transform 250ms ease-in-out;
}

.NavItem-Link:after {
  display: block;
  content: '';
  margin: 0 auto;
  width: 100%;
  padding: 6px 16px;
  margin-left: -16px;
  border-bottom: 1px solid #765a56;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.NavItem-Link:hover:after {
  transform: scaleX(1);
}
.NavItem-Link:active:after {
  border-bottom-color: #ebddc2;
}

.NavItem-Link:hover {
  color: #765a56;
  opacity: 0.8;
}

.NavItem-Link:active {
  opacity: 0.5;
}
.is-active {
  color: #765a56;
  padding-bottom: 11px;
  border-bottom: 1px solid #765a56;
}
