.App {
  margin: 16px;
  padding: 0;
}

.App-Layout {
  display: flex;
  flex-direction: column;
}
.App-Banner {
  height: 72px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a63b1a;
}
.App-Content {
  display: grid;
  margin: 0;
  /* justify-content: center; */
  grid-template-columns: auto 830px auto;
  /* background-color: #f7f7f7; */
}
.App-MainArea {
  display: grid;
  grid-template-rows: max-content auto;
  margin: 0 24px;
}
.App-MainContent {
  margin-top: 12px;
}

.App-LeftNav {
  background-color: #ebddc2;
  width: 100%;
}
.App-RightNav {
  background-color: #ebddc2;
  width: 100%;
}
