html,
body {
  background-color: #fff;
}

h1 {
  font-size: 48px;
  font-family: sans-serif;
  font-weight: normal;
  font-family: 'Lora';
}

a {
  font-family: 'Gill Sans';
  font-size: 20px;
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: normal;
}

html {
  font-family: 'Gill Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
}
