html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

p {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Lato';
}

html {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}
